
<header class="intro">
     <div class="intro-body">
         <div class="container">
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <img class="logo-heading"><%= image_tag("Bayside Logo.svg", alt: "logo-img", height: 720, width: 720) %></img>
                 </div>
                 <% if user_signed_in? %>
                 <div class="jumbotron">
                 <h1 class="Hi">Welcome Back!</h1>
                 <p class="lead">We are glad to have you back to Bayside Vinyl, <%= current_user.username %>. As always, we are looking to change your idea of vinyl record shopping. </p>
                 <hr class="my-4">
                 <p class="greetmessage2">You can edit your profile by simply clicking on your profile name the navigation bar at the top of the page.</p>
               </div>
               <% else %>
               <div class="jumbotron">
               <h1 class="Hi">Welcome!</h1>
               <p class="lead">We are Bayside Vinyl and we are looking to change your idea of vinyl record shopping.</p>
               <hr class="my-4">
               <p class="greetmessage2">You can sign in/sign up with the button below. You can also go directly to app with the Hit-or-Miss button and you do not need to sign up to use it. However, you do need to sign in/sign up to store your favorite vinyl to your profile.</p>
             </div>
               <% end %>
             </div>
         </div>
     </div>
</header>




<div class="container">

  <!-- For heading -->
  <div class="row">

  </div><!-- /.row -->




<!-- Hit or Miss app -->
<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Looking for a particular record, but not sure which one to chose? <span class="text-muted">Well, simply press the Hit-or-Miss logo to receive help with that.</span></h2>
    <p class="homeparagraph"></p>

  </div>
  <div class="col-md-5 col-md-pull-7">
     <a href="tracks#index">
     <img class="featurette-image img-responsive center-block"><%= image_tag("BVplay.svg", alt: "square2-img", height: 500, width: 500) %></img>
   </a>
   </div>
 </div>




  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="page-header">
    <h2 class="featurette-heading">Frequently Asked Questions: </h2>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">What is Bayside Vinyl? <span class="text-muted">It's a proposed record store for the Brickell (Downtown Miami) area.</span></h2>

      <p class="homeparagraph">Bayside Vinyl is an idea that I have had for about 8 years now. I picked up an affinity for vinyl records through my love for sample-based music.
                               There are not many record stores in Miami and certainly not the Downtown/Brickell area. I would love to have the opportunity to change that.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block"><%= image_tag("Brickellvinyl.jpg", alt: "square1-img", height: 500, width: 500) %></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Why Brickell City Centre? <span class="text-muted">It's the newest mall in the area and it is adding new stores everyday.</span></h2>
      <p class="homeparagraph">The experience of going into a store and buying physical copies of
        various forms of media has changed. People are more likely to just stream their content. However, vinyl has consistently had a <a class="linkvinyl" href="http://consequenceofsound.net/2017/01/vinyl-on-track-to-become-a-billion-dollar-industry-in-2017/">yearly resurgence</a>.
        In fact, there are even <a class="linkvinyl" href="http://thevinylfactory.com/features/the-8-best-vinyl-subscription-services-to-help-grow-your-record-collection/">subscription services</a> for vinyl now.
        The idea of actually having a modern day record store is what drew me to Brickell City Centre. There is no better time to dive into the world of vinyl than right now for both collectors and sellers.</p>

    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block"><%= image_tag("Brickell.jpg", alt: "square2-img", height: 500, width: 500) %></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Are there anymore plans for Bayside Vinyl? <span class="text-muted">Yes.</span></h2>
      <p class="homeparagraph">Well, this page actually serves as the central hub for anything connected to the Bayside Vinyl brand.
                               As of right now, the hit-or-miss vinyl selector app is available to use. However, there are plans to expand the brand in a plethora of ways.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block"><%= image_tag("Content.jpg", alt: "square3-img", height: 500, width: 500) %></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <footer class="footer">
     <div class="container">
       <span class="text-muted"><a href="https://github.com/murphym757/baysidevinyl"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
         <a href="https://maurice-murphy-portfolio.herokuapp.com/"><%= image_tag("mmlogo.png", alt: "png-img", height: 80, width: 160) %></a><br>Copyright &copy; 2017<br></span>
     </div>
</footer>

</div><!-- /.container -->

<!-- Modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
