<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<header class="formpage">
    <div class="col-md-8 col-md-offset-2">
        <img class="logo-heading-form"><%= image_tag("Bayside Logo.svg", alt: "logo-img", height: 720, width: 720) %></img>
    </div>
    <div class="entirepanel">
      <div class="panel-body">
        <div class="field">
            <%= f.text_field :login, autofocus: true, placeholder: "Enter username" %>
        </div>
          <div class="field">
              <%= f.text_field :login, autofocus: true, placeholder: "Enter username" %>
          </div>

          <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="field">
              <%= f.check_box :remember_me %>
          </div>
          <% end -%>

          <div class="actions">
              <%= f.submit "Log in" %>
          </div>
          <% end %>

          <br>
          <%= render "devise/shared/links" %>

        </div>
    </div>
</header>
