<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<header class="formpage">
  <div class="col-md-8 col-md-offset-2">
      <img class="logo-heading-form"><%= image_tag("Bayside Logo.svg", alt: "logo-img", height: 720, width: 720) %></img>
  </div>
<div class="entirepanel">
    <div class="container .col-xs-12 .col-sm-6 .col-md-8">
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Sign in</div>
              <div class="panel-body">
            <div class="field">
            <%= f.email_field :email, autofocus: true %>


          <div class="field">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
        </div>
      </div>
  </div>
</div>
</header>
