<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maurice Murphy">
    <link rel="stylesheet" href="app/assets/stylesheets/font-awesome.scss">
    <link rel="icon" href="app/assets/images/BVicon.png" type="image/png">


    <title>Bayside Vinyl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="app/assets/javascripts/bootstrap.js"></script>

    <!-- jQuery -->
    <script src="app/assets/javascripts/jquery.js"></script>
  </html>
